*{margin: 0px;padding: 0px;}

.conteiner
{
	width: 100%;
	height: auto;
	min-height: 500px;
	background-image: url(../kaynak/arka-plan/arka-9.jpg);
	background-attachment: fixed; 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: table;
}

